---
import { MINE_NAME } from "@/consts";
// import { IconAnimated } from ".";
import IconAnimated from "./IconAnimated.astro";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()}
  {MINE_NAME}. All rights reserved.
  <div class="social-links">
    <a href="https://m.webtoo.ls/@astro" target="_blank">
      <span sr-only>Follow Astro on Mastodon</span>
      <IconAnimated icon="mastodon" />
    </a>
    <a href="https://twitter.com/astrodotbuild" target="_blank">
      <span sr-only>Follow Astro on Twitter</span>
      <IconAnimated icon="twitter" />
    </a>
    <a href="https://github.com/withastro/astro" target="_blank">
      <span sr-only>Follow Astro on Github</span>
      <IconAnimated icon="github" />
    </a>
    <a href="https://www.youtube.com/@astrodotbuild">
      <span sr-only>Follow Astro on YouTube</span>
      <IconAnimated icon="youtube" />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 4em 1em;
    @apply text-18 text-center color-border;
  }
  .social-links {
    @apply flex-center justify-center gap-16 m-t-16;
  }
</style>
