---
import { SITE_TITLE } from "@/consts";
import { HeaderLink, Icon, ThemeToggle, ToTop } from ".";
---

<header m-0 px-16>
  <nav flex-center justify-between>
    <h2 m-0><a text-center select-none font-bold href="/">{SITE_TITLE}</a></h2>

    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/project">Project</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/4asdad04">404</HeaderLink>
    </div>
    <div class="social-links" flex>
      <ThemeToggle />
      <a href="https://m.webtoo.ls/@astro" target="_blank">
        <span sr-only>Follow Astro on Mastodon</span>
        <Icon icon="mastodon" />
      </a>
      <a href="https://twitter.com/astrodotbuild" target="_blank">
        <span sr-only>Follow Astro on Twitter</span>
        <Icon icon="twitter" />
      </a>
      <a href="https://github.com/withastro/astro" target="_blank">
        <span sr-only>Go to Astro's GitHub repo</span>
        <Icon icon="github" />
      </a>
    </div>

    <ToTop />
  </nav>
</header>
<style lang="scss">
  header {
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  h2 {
    font-size: 1em;

    a {
      background-image: -webkit-linear-gradient(
        right,
        #833ab4,
        #fd1d1d 15%,
        #fcb045 30%,
        #833ab4 45%,
        #fd1d1d 60%,
        #fcb045 75%,
        #833ab4
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-background-size: 200% 100%;
      -webkit-animation: masked-animation 1.5s infinite linear;
    }
  }

  @-webkit-keyframes masked-animation {
    0% {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }

  .internal-links:hover > :not(:hover) {
    &:not(.active) {
      // filter: blur(1px);
      @apply op60;
    }
  }

  .social-links {
    a {
      @apply flex-center px-8;
    }
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
