---
import { BaseHead, Footer, Header } from "@/components";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />

    <script is:inline>
      const theme = localStorage.getItem("blog-theme");

      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>

    <slot name="style" />
  </head>
  <body>
    <Header />
    <main transition:animate="slide">
      <slot />
    </main>
    <Footer />
  </body>
</html>
